<%- include ('../partials/header') %>

<div class="home-page">
    <h2>All Facespace members</h2>
    <ul class="homepage__all">
        <% users.forEach(user => { %>
        <li class="homepage__all--user">
            <% if (currentUser && currentUser.friends && currentUser.friends.includes(user._id)) { %>
                <p class="ribbon"><span>Friend</span></p>
            <% } %>
            <a href="/users/<%= user._id %>">
                <img src="<%= user.avatarUrl %>" />
                <p class="user-tag"><%- user.name %></p>
            </a>
        </li>
        <% }) %>
    </ul>
</div>

<%- include ('../partials/footer') %>